@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');


body {
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../Image/Assest/LBK\ ESPORT\ MOCKUP.jpg");
    background-size: cover;
}

.container {
    margin: 0 auto;
}

.Logolbkesport {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: auto;
}

.Judul {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 20px;
    color: #db2625;
    font-family: "Big Shoulders Display", sans-serif;
}

h2 span {
    color: #d18d0f;
    font-family: "Big Shoulders Display", sans-serif;
}

hr {
    border: none;
    height: 2px;
    background-color: #d18d0f;
    margin: 20px 0;
}

hr:hover {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.navigation {
    text-align: center;
    margin-bottom: 20px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #bcb7b4;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    font-family: "Big Shoulders Display", sans-serif;

}

.nav-list li a:hover {
    color: #d18d0f;
}

.nav-list li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #E71B26 !important;
    transition: width 0.3s ease, left 0.3s ease;
    transform-origin: left;
}

.nav-list li a:hover::after {
    width: 100%;
    left: 0;
}

.container1 {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(209, 141, 15, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.subjudul {
    font-size: 24px;
    font-weight: bold;
    color: #d18d0f;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Big Shoulders Display", sans-serif;

}

.active {
    border-bottom: 2px solid #d18d0f;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Big Shoulders Display", sans-serif;
    font-style: italic;


}

.card {
    border-bottom: 3px solid #d18d0f;
    border-top: 3px solid #d18d0f;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #E71B26;

  }

.card-body .card-title i {
    margin-right: 10px;
}
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #bcb7b4;
  }
  
  .card-text {
    font-size: 1rem;
    color: #bcb7b4;
  }
  
  .card-text a.read-more,
  .card-text a.read-less {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: none;
  }
  
  .card-text a.read-more:hover,
  .card-text a.read-less:hover {
    text-decoration: underline;
  }
  
  .card-text a.read-less {
    display: none;
  }
  
  .card-text a.read-more.show-more-content ~ a.read-less {
    display: inline;
  }
  
  .card-text a.read-more.show-more-content {
    display: none;
  }
  
  .garispembatas {
    border: none;
    height: 2px;
    background-color: #d18d0f;
    margin: 20px auto;
    width: 31%;
  }

  .card1 {
    border-bottom: 3px solid #d18d0f;
    border-top: 3px solid #d18d0f;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #E71B26;
    width: 100%;
  }

  .card-title1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #bcb7b4;
    text-align: center;
  }

  .card-text1 {
    font-size: 1rem;
    color: #bcb7b4;
  }

  .list-group-item {
    list-style: none;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #d18d0f;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px;
  }
  
  .list-group-item:before {
    content: "\25BA";
    color: #E71B26;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .list-group {
    padding-left: 0;
  }
  
  .list-group .list-group-item {
    margin-bottom: 10px;
  }
  
  .presentase {
    list-style-type: none;
    padding-left: 0;
}

.presentase li {
    margin-bottom: 20px;
    color: #bcb7b4;;
}

.presentase li strong {
    font-weight: bold;
}

.presentase li .subpresnetase {
    margin-left: 20px;
    font-style: italic;
    color: #bcb7b4; /* Gray color for subpoints */
}
